*.class
*.eps
*.aux
*.jar
latex/ods.pdf
*.toc
*-tmp.tex
*.log
.nfs*
*.swp
*.bak
*~
ods-java.tgz
ods-python.tgz
ods-cpp.tgz
.cproject
.project
.classpath
.settings
bin/
Debug
*.sw?
latex/figs/dllist2.pdf
latex/figs/selist-add-a.pdf
latex/figs/selist-add-b.pdf
latex/figs/selist-add-c.pdf
latex/figs/selist-remove-a.pdf
latex/figs/selist-remove-b.pdf
latex/figs/selist-remove-c.pdf
latex/figs/skiplist-add.pdf
latex/figs/skiplist-addix.pdf
latex/figs/skiplist-lengths-splice.pdf
latex/figs/skiplist-lengths.pdf
latex/figs/skiplist-remove.pdf
latex/figs/skiplist-removei.pdf
latex/figs/skiplist-searchpath.pdf
latex/figs/skiplist-splice.pdf
latex/figs/skiplist.pdf
latex/figs/arraydeque-1.pdf
latex/figs/arrayqueue-1.pdf
latex/figs/arraystack-1.pdf
latex/figs/binary-tree-1.pdf
latex/figs/binary-tree-2.pdf
latex/figs/binary-tree-3.pdf
latex/figs/binary-tree-4.pdf
latex/figs/binary-tree.pdf
latex/figs/bintree-1.pdf
latex/figs/bintree-2.pdf
latex/figs/bintree-3.pdf
latex/figs/bintree-4.pdf
latex/figs/bintree-traverse-1.pdf
latex/figs/bintree-traverse-2.pdf
latex/figs/bintree-traverse.pdf
latex/figs/bintree.pdf
latex/figs/bst-balanced-1.pdf
latex/figs/bst-balanced.pdf
latex/figs/bst-delete-1.pdf
latex/figs/bst-delete-2.pdf
latex/figs/bst-delete.pdf
latex/figs/bst-example-1.pdf
latex/figs/bst-example-2.pdf
latex/figs/bst-example-3.pdf
latex/figs/bst-example-4.pdf
latex/figs/bst-example-5.pdf
latex/figs/bst-example.pdf
latex/figs/bst-path-1.pdf
latex/figs/bst-path.pdf
latex/figs/bst-splice-1.pdf
latex/figs/bst-splice-2.pdf
latex/figs/bst-splice-3.pdf
latex/figs/bst-splice-4.pdf
latex/figs/bst-splice-5.pdf
latex/figs/bst-splice.pdf
latex/figs/bst-template-1.pdf
latex/figs/bst-template-small-1.pdf
latex/figs/bst-template-small.pdf
latex/figs/bst-template.pdf
latex/figs/dllist-1.pdf
latex/figs/dllist2-1.pdf
latex/figs/doc_data.txt
latex/figs/dualarraydeque-1.pdf
latex/figs/gauss-1.pdf
latex/figs/harmonic-1.pdf
latex/figs/harmonic-2.pdf
latex/figs/harmonic-3.pdf
latex/figs/harmonic-4.pdf
latex/figs/harmonic.pdf
latex/figs/rbst-records-1.pdf
latex/figs/rbst-records.pdf
latex/figs/rootisharraystack-1.pdf
latex/figs/rotation-1.pdf
latex/figs/rotation.pdf
latex/figs/selist-add-a-1.pdf
latex/figs/selist-add-b-1.pdf
latex/figs/selist-add-c-1.pdf
latex/figs/selist-remove-a-1.pdf
latex/figs/selist-remove-b-1.pdf
latex/figs/selist-remove-c-1.pdf
latex/figs/skiplist-1.pdf
latex/figs/skiplist-add-1.pdf
latex/figs/skiplist-addix-1.pdf
latex/figs/skiplist-lengths-1.pdf
latex/figs/skiplist-lengths-splice-1.pdf
latex/figs/skiplist-remove-1.pdf
latex/figs/skiplist-removei-1.pdf
latex/figs/skiplist-searchpath-1.pdf
latex/figs/skiplist-splice-1.pdf
latex/figs/sllist-1.pdf
latex/figs/treap-1.pdf
latex/figs/treap-2.pdf
latex/figs/treap-delete-a-1.pdf
latex/figs/treap-delete-a-2.pdf
latex/figs/treap-delete-a.pdf
latex/figs/treap-delete-b-1.pdf
latex/figs/treap-delete-b-2.pdf
latex/figs/treap-delete-b.pdf
latex/figs/treap-delete-c-1.pdf
latex/figs/treap-delete-c-2.pdf
latex/figs/treap-delete-c.pdf
latex/figs/treap-delete-d-1.pdf
latex/figs/treap-delete-d-2.pdf
latex/figs/treap-delete-d.pdf
latex/figs/treap-insert-1.pdf
latex/figs/treap-insert-2.pdf
latex/figs/treap-insert-a-1.pdf
latex/figs/treap-insert-a-2.pdf
latex/figs/treap-insert-a.pdf
latex/figs/treap-insert-b-1.pdf
latex/figs/treap-insert-b-2.pdf
latex/figs/treap-insert-b.pdf
latex/figs/treap-insert-c-1.pdf
latex/figs/treap-insert-c-2.pdf
latex/figs/treap-insert-c.pdf
latex/figs/treap-insert.pdf
latex/figs/treap.pdf
latex/figs/scapegoat-insert-1.pdf
latex/figs/scapegoat-insert-2.pdf
latex/figs/scapegoat-insert-3.pdf
latex/figs/scapegoat-insert-4.pdf
latex/figs/scapegoat-insert.pdf
latex/figs/arraydeque.pdf
latex/figs/arrayqueue.pdf
latex/figs/arraystack.pdf
latex/figs/dllist.pdf
latex/figs/dualarraydeque.pdf
latex/figs/eytzinger-1.pdf
latex/figs/eytzinger.pdf
latex/figs/gauss.pdf
latex/figs/heap-insert-1.pdf
latex/figs/heap-insert-2.pdf
latex/figs/heap-insert-3.pdf
latex/figs/heap-insert-4.pdf
latex/figs/heap-insert.pdf
latex/figs/heap-remove-1.pdf
latex/figs/heap-remove-2.pdf
latex/figs/heap-remove-3.pdf
latex/figs/heap-remove-4.pdf
latex/figs/heap-remove.pdf
latex/figs/rootisharraystack.pdf
latex/figs/sllist.pdf
latex/figs/rb-addfix-1.pdf
latex/figs/rb-addfix.pdf
latex/figs/rb-removefix-1.pdf
latex/figs/rb-removefix.pdf
latex/figs/24rb-1.pdf
latex/figs/24rb-2.pdf
latex/figs/24rb-3.pdf
latex/figs/24rb.pdf
latex/figs/24tree-add-1.pdf
latex/figs/24tree-add-2.pdf
latex/figs/24tree-add-3.pdf
latex/figs/24tree-add.pdf
latex/figs/24tree-remove-1.pdf
latex/figs/24tree-remove-2.pdf
latex/figs/24tree-remove-3.pdf
latex/figs/24tree-remove-4.pdf
latex/figs/24tree-remove-5.pdf
latex/figs/24tree-remove.pdf
latex/figs/avl-rebalance-1.pdf
latex/figs/avl-rebalance.pdf
latex/figs/flippullpush-1.pdf
latex/figs/flippullpush.pdf
latex/figs/rb-split-1.pdf
latex/figs/rb-split-2.pdf
latex/figs/rb-split-3.pdf
latex/figs/rb-split.pdf
latex/images/tree3-thick.pdf
latex/ods.bbl
latex/ods.blg
latex/ods.out
latex/images/bigoh.tex
