*.class
*.eps
*.aux
*.jar
latex/ods.pdf
*.toc
*-tmp.tex
*.log
latex/figs/dllist2.pdf
latex/figs/selist-add-a.pdf
latex/figs/selist-add-b.pdf
latex/figs/selist-add-c.pdf
latex/figs/selist-remove-a.pdf
latex/figs/selist-remove-b.pdf
latex/figs/selist-remove-c.pdf
latex/figs/skiplist-add.pdf
latex/figs/skiplist-addix.pdf
latex/figs/skiplist-lengths-splice.pdf
latex/figs/skiplist-lengths.pdf
latex/figs/skiplist-remove.pdf
latex/figs/skiplist-removei.pdf
latex/figs/skiplist-searchpath.pdf
latex/figs/skiplist-splice.pdf
latex/figs/skiplist.pdf
.nfs*
