body {
	max-width: 45em;
	margin: 0 auto;
	margin-top: 2em;
	text-align: justify;
	line-height: 1.5em;
}

h1 {
	font-size: 160%;
	font-weight: normal;
	font-family: "Charcoal", "Kalimati", "Verdana", sans-serif;
}

h2 {
	font-size: 100%;
	font-weight: normal;
	font-family: "Charcoal", "Kalimati", "Verdana", sans-serif;
}

pre {
	padding: 1em;
	border: 1px solid black;
	line-height: 1.2em;
}

a {
	text-decoration: none;
}
